.body{
  display:grid;
  grid_template_columns: 1fr 2fr;
  grid_template_rows: 20vh 1fr;
  grid_template_areas:
	'aside header
	 aside main';


} 


.aside{

}

.option_button{

}

.header{

}

.main{

}